#pdf-template{
    page-break-inside: avoid;
    break-inside: avoid;
}
.pdf-template-container h1{
    @apply text-[20px] font-bold text-center text-primary mb-6;
}
.pdf-template-container section{
    @apply mb-6 flex flex-col gap-2;
}
.pdf-template-container section h3{
    @apply text-[18px] font-semibold text-mutedGray mb-2;
}
.pdf-sub-section-container,
.pdf-sub-input-container, .main-input-pdf-container {
  page-break-inside: avoid;
  break-inside: avoid;
}
.pdf-template-container{
    @apply py-[20px]
}
.pdf-sub-header{
    @apply flex flex-col items-end gap-y-1 mb-4 w-full;
}
.pdf-logo-container{
    @apply w-[120px] h-[80px] flex items-center justify-center;
}
.pdf-logo-container img{
    @apply w-auto h-[80px] object-contain;
}
.pdf-sub-header p{
    @apply m-0 text-sm text-mutedGray;
}
.pdf-personal-details{
    @apply flex items-center gap-2;
}
.pdf-passport{
    @apply w-20 h-20 rounded object-cover
}
.pdf-personal-details p{
    @apply text-[18px] font-semibold text-mutedGray;
}
.pdf-form-content{
    @apply mb-[20px] p-[20px] flex flex-col gap-6;
}
.main-input-pdf-container{
    @apply grid grid-cols-2 gap-x-4 gap-y-6 w-full;
}
.pdf-detail-container{
    @apply flex flex-col gap-1 my-3;
}
.pdf-detail-container h4{
    @apply text-[16px] font-semibold text-mutedGray
}
.pdf-input{
    @apply p-[8px] border-b border-b-mutedGray rounded-[4px] bg-[white] w-full
}
.pdf-sub-section-container{
    @apply flex flex-col gap-2;
}
.pdf-sub-section-container h4, .pdf-signature-container h4{
    @apply text-[16px] font-semibold text-mutedGray
}
.pdf-sub-input-container{
    @apply flex items-center justify-between gap-5;
}
.pdf-agreement-section{
    @apply flex items-center gap-[1px];
}
.agreement-container{
    @apply inline-block w-[20px] h-[20px] border border-solid border-mutedGray rounded-sm text-center relative;
}
.agreement-container span:first-child{
    @apply absolute inset-0 m-auto w-fit h-fit text-white text-[16px] font-bold;
}
.agreement-container span:last-child{
    @apply font-bold text-[11px]
}
.pdf-signature-container{
    @apply flex items-center justify-between gap-[20px] mt-[40px]
}