#pdf-template {
  page-break-inside: avoid;
}

.pdf-sub-section-container,
.pdf-sub-input-container,
.pdf-form-content {
  page-break-inside: avoid;
}
.page-break {
  page-break-before: always;
  break-before: page;
}

.pdf-template-container{
    @apply py-[20px]
}
.pdf-sub-header{
    @apply flex flex-col items-end gap-y-1;
}

.pdf-sub-header p{
    @apply m-0 text-sm text-mutedGray;
}
.pdf-personal-details{
    @apply flex items-center gap-2;
}
.pdf-passport{
    @apply w-20 h-20 rounded object-cover
}
.pdf-personal-details p{
    @apply text-[18px] font-semibold text-mutedGray;
}
.letter-body{
    @apply mb-[25px];
}
.letter-body p:first-child{
    @apply mb-[20px] font-bold;
}
.letter-body-p{
    @apply text-justify mb-[12px];
}
.letter-body p:last-child{
    @apply font-bold mb-[25px];
}
.pdf-form-content{
    @apply mb-[20px] p-[20px] flex flex-col gap-6;
}
.pdf-input{
    @apply p-[8px] border-b border-b-mutedGray rounded-[4px] bg-[white] w-full
}
.pdf-sub-section-container{
    @apply flex flex-col gap-2;
}
.pdf-sub-section-container h4, .pdf-signature-container h4{
    @apply text-[16px] font-semibold text-mutedGray
}
.pdf-sub-input-container{
    @apply flex items-center justify-between gap-5;
}
.pdf-agreement-section{
    @apply flex items-center gap-[1px];
}
.agreement-container{
    @apply inline-block w-[20px] h-[20px] border border-solid border-mutedGray rounded-sm text-center relative;
}
.agreement-container span:first-child{
    @apply absolute inset-0 m-auto w-fit h-fit text-white text-[16px] font-bold;
}
.agreement-container span:last-child{
    @apply font-bold text-[11px]
}
.pdf-signature-container{
    @apply flex items-center justify-between gap-[20px] mt-[40px]
}